[2017-11-21 00:00] nrnapolita opened #1 "KiDS DR3: Inconsistency among structural parameters of different 2DPHOT runs"
Nivya and Fedor Check whether the input of the different results were different.

[2017-11-21 00:01] nrnapolita opened #2 "New stellar population models"
Crescenzo provides the new stellar population models, with NIR data

[2017-11-21 00:03] nrnapolita opened #3 "Environment definition"
Check the match between galaxies and the cluster/group catalogs from Mario

[2017-11-21 00:04] nrnapolita opened #4 "2DPHOT run on LSST simulations"
Nivya and Angela check the way to use Galfit/GALAPAGOS on LSST images
NRN checks the documentation for the GalSim catalogs

[2017-11-21 00:05] nrnapolita opened #5 "Lensing project: 2DPHOT on HST images"
Nivya and Angela download HST images and run 2DPHOT on

[2017-11-21 00:06] nrnapolita opened #6 "GAMA velocity dispersion: number checks"
AIs for GDA
1) luminosity completeness
2) mass completeness
3) match with DR3
4) match with DR4 as soon as possible

[2017-11-21 00:08] nrnapolita opened #7 "KiDS/spectroscopy catalog matching"
AI: NR and GDA: have a final catalog with KiDS/450+GAMA (vel. disp.) samples
AI: NR and CR catalog with KiDS/450+BOSS (vel. disp.) samples

[2017-11-27 09:17] nrnapolita opened #8 "GAIN and SATURATE values in LSST DC1 simulated images"
Need to check the GAIN and SATURATE values in LSST DC1 simulated images in thor dir
/home/nnicola/LSST/NERSC

[2017-11-27 09:22] nrnapolita opened #9 "Save disk space on Thor"

[2017-11-27 12:35] gdago commented on #6
![r-lum_completeness_gama_kids](https://user-images.githubusercontent.com/22191556/33266934-c5d89de4-d377-11e7-8746-3602d9f601dd.png)
![schermata 2017-11-27 alle 12 01 35](https://user-images.githubusercontent.com/22191556/33266936-c90aa5b6-d377-11e7-8d8c-c2acaa95d800.png)
![completeness_gama_ppxfsample](https://user-images.githubusercontent.com/22191556/33266950-d3c18826-d377-11e7-9df1-3fd2365cae

[2017-11-27 12:39] nrnapolita commented on #9
Everybody can, please move your files to
/thornas1 or /thornas2 /thornas3 /thornas4
on thor. Create your directory and move stuff there. Check which thornas disk has more disk space available...

[2017-11-27 13:01] nrnapolita commented on #1
1) DR3 are ran again
2) NR reports the status of the DR3 run and 32 tiles in r-band have been finished in ~1.5 days!!
3) problem with the computing time?
4) because of that NR will produce a comparison between the 32 tiles and the previous ESO extraction, we see the scatter plots and decide if contibue with theb new ESO-DR3 run...
TBD in the next 2 days! [Meanwhile run the Dr1/2 tiles, to be done

[2017-11-27 13:18] nrnapolita commented on #8
AI:
1) everybody try to find info about this online
2) NRN keep chasing LSST people to know that

[2017-11-27 13:36] nrnapolita commented on #6
the plot on the top is the ratio between the GAMA_disperson sample vs. KiDS, how about GAMA_tot? It seems from the bottom panel that most of the galaxy mising at the low-z bin are small mass galaxies (hence small dispersion) which means that these might have been missed by ppxf

[2017-11-27 13:43] nrnapolita commented on #6
GDA:
match with DR3 has bee done: 22k out of 33k for which v.disp has been measured. As soon as we have the final catalog with 2Dphot parameter, we need to incorporate these value.

A.I.: for the final match witg KiDS DR3, we need to wait for the final DR3 structural parameters (see issue #1 )

[2017-11-28 14:51] nivyaaroy commented on #1
[delta_PA.pdf](https://github.com/nrnapolita/KIWI_LSST/files/1510260/delta_PA.pdf)

Here is the delta_param vs param_old plots for different parameters [re, n, q, PA, and MAG_2DPHOT]. delta_param is param_new-param_old
[delta_n.pdf](https://github.com/nrnapolita/KIWI_LSST/files/1510256/delta_n.pdf)
[delta_q.pdf](https://github.com/nrnapolita/KIWI_LSST/files/1510257/delta_q.pdf)
[delta_re.pdf](http

[2017-11-30 11:06] ctortora commented on #1
Dear all,

I do not know who is receiving this email,

but what do we do with these results? There is some scatter, I would
quntify better it? Is it too strong?

And how we decide what fit is better? The previous or the last one?

Cheers,

                C

On 28/11/2017 15:51, nivyaaroy wrote:

--
*Dr. Crescenzo Tortora*

/Post-Doc/
Kapteyn Astronomical Institute
Postbus 800, 9700 AV, Groningen

[2017-11-30 13:02] nrnapolita commented on #9
we are back to a safe situation on Thor's home with now thornas1 and 4 full.

[2017-11-30 13:02] #9 closed, assigned to mariorpd13, gdago, nrnapolita, MariaAngelaRaj, nivyaaroy, ctortora

[2017-11-30 13:11] nrnapolita commented on #1
I asked Nivya to quantify better this scatter. One way is to add mean + STD (plus the nominal value of the scatter). These have to be compared to the relative scatter found in the simulation test.

[2017-11-30 13:30] ctortora commented on #1
Are the new DR3 values identical to the latest DR3 values you provided
to me?

C

On 30/11/2017 14:11, Nicola R. Napolitano wrote:

--
*Dr. Crescenzo Tortora*

/Post-Doc/
Kapteyn Astronomical Institute
Postbus 800, 9700 AV, Groningen
The Netherlands

Tel: +31 (0)50-3634088
e-mail (1): ctortora@astro.rug.nl
e-mail (2): ctortora@na.astro.it
web-page: https://www.astro.rug.nl/~ctortora/
<http://www.a

[2017-12-04 12:31] nivyaaroy commented on #1
Here is another plot with the difference in parameters for two DR3 run. Mean values are given along with the single datapoints. Error bars show the standard deviation in bins of parameter plotted on x axis. The numbers given are the standard deviation in each bin.
[KIDS_DR3_OLD_NEW.pdf](https://github.com/nrnapolita/KIWI_LSST/files/1527005/KIDS_DR3_OLD_NEW.pdf)

[2017-12-04 13:46] ctortora commented on #1
Dear Nivya and all,

Some questions:

- What is the fraction of objects with differences larger than, let's
say, 5 or 10%?

- I miss now the reason why in the panel for n there is a "parabolic"
lower limit and nothing similar in the other panels?

- I see a bump at large luminosity, which I would expect less than the
case at lower luminosity. Some reason for that?

- Sorry if I am back to the main

[2017-12-05 13:38] nrnapolita commented on #1
Before we close this issue we need to check whether we can use the old parameters from DR1 and DR2 fields. CT will do  a check on the effect on colour gradients

[2017-12-05 13:41] nrnapolita commented on #3
Crescenzo send the latest version of the galaxy catalogs to match with (Mario asked)

[2017-12-05 13:51] nrnapolita commented on #3
let's ask for the novel 9-band photo_z catalog at the next KiDS teleconf...

[2017-12-05 14:08] KiaraSpin commented on #5
https://hla.stsci.edu
Here you can search for RA and DEC:
https://hla.stsci.edu/hlaview.html

[2017-12-05 14:08] nrnapolita opened #10 "IFU sky subtraction on VIMOS lens observations"

[2017-12-05 14:39] ctortora commented on #3
@mariorpd13 You can find the catalog on calimero, the path is /home/galattici/ctortora/

The name of the catalog is: catalog_DR2_DR3_5M_234params_FULL_2017-10-10.fits
It includes the 5M galaxies with ML redshift [+ masses, struc. parameters (take the second ones), subsamples of galaxies with spec. redshifts, etc. etc.].
The name of the readme file is:  README_catalogs_DR2+DR3_2017-07-11

In genera

[2017-12-05 14:52] KiaraSpin commented on #10
I sent VIMOS data on one of our "best candidate" to Oliver Czoske who is very expert in VIMOS data reduction. He does not use the standar pipeline, but a self-written routine. If he gets results of better quality with respect to the ones that I obtained, we might think of sharing the whole sample to try to get the redshift of the probable source!
I did not get a reply yet.

[2017-12-11 11:16] nrnapolita commented on #1
CT & NR: for the tiles where we have both DR3 extraction and DR1-2, check the impact on the colours and the internal consistency of their own extraction (are they from the same epoch? Were there multiple extractions?)

[2017-12-11 11:19] nrnapolita commented on #3
Mario has got the catalog, he's waiting for the latest version of the cluster catalog.
Mario wanted to have a look in the last 9-band cat and check about the issue mentioned in the last meeting (i.e. the issue on the gap in the BPZ photo_z).

[2017-12-11 11:23] nrnapolita commented on #4
NRN has to retrive the saturation and gain

[2017-12-11 11:25] nrnapolita commented on #5
Maurizio has provided a 8 orbit image of its own to  test 2DPHOT on.
First tetsts are failing, that might be because there is some set-up missing. NR will check with FLV today and report here below!

[2017-12-11 11:32] nrnapolita commented on #5
CS: the proposal for Phase2 has deadline in two days. The APT proposal has been checked from Maurizio. There might be an issue on the observational strategy about the dithering strategy and the possibility of having a gap in the center. Maurizio will check the issue, CS also will check it more.
Why don't we go with an offset anyway to be sure?

[2017-12-11 11:35] KiaraSpin commented on #10
![obj_kids_139 0_-1 5_fits_07_04_001361_rgb](https://user-images.githubusercontent.com/19711937/33829249-d2fcfa76-de6f-11e7-9e92-76b11c59381a.jpg)

This is a KiDS rgb image created by Fedor of the candidate: KiDS_001361

[2017-12-11 11:38] KiaraSpin commented on #10
![vimos_fov_001361](https://user-images.githubusercontent.com/19711937/33829347-291abf74-de70-11e7-85ce-2f0b6df13bcf.jpg)

This is the VIMOS reduced FOV. The upper panels are a single exposure (not necessarily the same)
Up, left panel from O.Czoske
Up, right from CS
The lower panel shows the final, combined (3 images) FOV obtained by CS.

It is clear that Oliver is reducing a different field. CS s

[2017-12-15 13:15] KiaraSpin commented on #10
New update from Oliver.
He manage to see the lens now (no idea what he did wrong the first time).
He sent me a spectrum with a first attempt to subtract the sky, but honestly for the moment he does a worse job than I did :(

[KIDS001361-lens_redshift.pdf](https://github.com/nrnapolita/KIWI_LSST/files/1562736/KIDS001361-lens_redshift.pdf)

[2017-12-15 13:17] KiaraSpin commented on #5
The proposal has been submitted and accepted already by the supporter astronomer... now finger crossed!

[2017-12-18 13:09] KiaraSpin commented on #7
Group meeting 18/12 : GDA is currently working on it
KiDS/450+GAMA (vel. disp.>50000 measured) analysis is over. Now GDA needs to match the catalog.

[2017-12-18 13:11] nivyaaroy commented on #5
I did 2dphot run with new gain and saturation values. Attach here is a file with comparison between LSST input parameter and 2dphot output. The results are not good. Anyway as examples I add some output plots from 2dphot along with the source and residual fits stamps
[Uploading LSST_2dphot.pdf…]()

[2017-12-18 13:11] KiaraSpin commented on #6
GM 18/12: see issue#1  now we have more than 50000 vel disp measured.

[2017-12-18 13:17] KiaraSpin commented on #8
GM 18/12: Nyvia got the right values and is trying to make a 1-to-1 comparison between 2DPHOT and LSST. See issue #4

[2017-12-18 13:19] KiaraSpin commented on #4
GM 18/12: Nyvia got the right values for GAIN and SATURATE and is now trying to make a 1-to-1 comparison between 2DPHOT and LSST. Still problem in matching the results or at least to gather the right info from LSST.

Nivya: I did 2dphot run with new gain and saturation values. Attach here is a file with comparison between LSST input parameter and 2dphot output. The results are not good. Anyway as

[2017-12-18 13:21] #8 closed, assigned to mariorpd13, gdago, nrnapolita, MariaAngelaRaj, nivyaaroy, ctortora

[2017-12-18 13:22] KiaraSpin commented on #4
AI: Nivya has to find "size" information in the LSST catalog.

[2017-12-18 13:24] KiaraSpin commented on #1
Group Meeting 18/12 Nyvia is still working on the catalogs. She will passe them to Crescenzo in the next days

[2017-12-18 13:27] KiaraSpin commented on #2
Group Meeting 18/12: Crescenzo and Mario will work on this after Christmas.
Work has to be done on the catalog itself (understand the flagging-priority-, magnitudes limitations, etc).
Long process.

[2017-12-18 13:31] KiaraSpin commented on #3
Group Meeting 18/12
AI CT: Check if Mario has the latest version of the catalog!
AI MR (after Crescenzo's checking):  Mario will write a script to match the catalog. Trivial but time consuming -> better to use THE RIGHT CATALOG!

[2017-12-18 13:32] KiaraSpin commented on #5
Group Meeting 18/12: Nyvia and Angela currently working on it. Still minor tecnical issues with the code.
AI NRN: Check this further.

[2017-12-18 13:37] KiaraSpin commented on #10
Group Meeting 18/12 : still problems with sky. Both Oliver and Chiara are doing their best.

[2018-01-15 10:20] gdago commented on #6
Why completeness have a weird shape?
In the three GAMA pointings (G9, G12, G15) we have different limiting magnitudes.
Only for G15:  19.8 mag.
The final plot show the combination of the three pointings.
In the plots, the dashed line represents completeness of velocity dispersion catalog.

@ctortora Why do we have negative values? It has to do with the normalization with the area. We can easily ig

[2018-01-15 10:20] gdago commented on #6
@gdago Is this issue with completeness affecting the Faber-Jackson relation?
G15 -> limited magnitude
GAMA -> all of them

Result: There is an evolution with redshift, in the sense that for higher redshift the relation becomes flatter.
The plots are showed in r and g bands
However, we do not agree with the literature. There is a tilt.
@ctortora Check the aperture within which the velocity dispersi

[2018-01-15 10:37] KiaraSpin commented on #1
GM 15/01/2018:
Crescenzo has everything he needs from Nyvia. He will start working on the color gradients.
We will go for DR3. For all the tiles we have r,g,i all the parameters (S and N) - g,i from previous run -
The problem with r-band was that we lost something, so we did it again.

About DR1 and DR2. Are them okay? Check that relations between the structure parameters stay the same. (We did al

[2018-01-15 10:51] KiaraSpin commented on #2
Group Meeting 15/01/2018
Currently two sets of catalog ara available to us: i) weak lens tuned catalog where they drop all the bright galaxies. ii) everything included but to be cleaned.

The first one, is not what we need, cause we will miss a lot of bright galaxies.
In the second catalog, there are multiple measurements that must be drop out because of bad photometry, etc. It is not trivial to d

[2018-01-15 11:01] KiaraSpin commented on #3
Group Meeting 15/01/18
We are trying to match galaxy parameters with cluster parameters to assess whether we can say if a galaxy is in a cluster or not. But what exactly do we need?
For the cluster catalog, it could happen that a galaxy has a non-null probability to be member of more than one cluster (one galaxy has probability to belong to 2,3, or more cluster).
What is the important info to dise

[2018-01-15 11:07] KiaraSpin commented on #4
Group Meeting 15/01/18
We need to give feedback to the LSST team. DES is preparing the new simulation which should be more realistic and complicated. We should report if there is something wrong in the way the "make galaxies".

Nyvia managed to run 2DPHOT on LSST simulations but these are really simplistic simulations which consider only single Sersic galaxies (with n=1 OR n=4).
The scatter we fou

[2018-01-15 11:11] KiaraSpin commented on #5
Group Meeting 15/01/2018
Nyvia and Angela are working on it. Something was not working before Christmas, but we are still not sure what the real issue is. 2DPHOT was not completing the run, it was stopping and not creating PSF.
-> AI Francesco: follow up on this issue (ask Amata?)

In theory we can simply use GALFIT for this purpose once Angela becomes an expert
-> AI Angela: learn how to use GALF

[2018-01-15 11:14] KiaraSpin commented on #10
Group Meeting 15/01
-> AI Chiara Send a spectrum of galaxy and of sky to Francesco

[2018-01-15 11:36] KiaraSpin commented on #6
Group Meeting 15/01/18
Paper preparation: catalog presentation + velocity dispersion measurements + these plots + discussion.
TO BE DONE
AI Peppe: Check consistency with literature.
Also compare with other results (e.g. Hide and Bernardi 09 )

[2018-01-15 11:38] KiaraSpin commented on #7
Group Meeting 15/01/18
@gdago Of the 50000 measured we have 30000 matching with KiDS (G02 is not in KiDS).

-> AI Crescenzo: match with BOSS. Nyvia sent the catalog already.

[2018-01-15 11:39] KiaraSpin opened #11 "Search for new lenses in KIDS and KABS"
Chiara is working on this with A.Agnello at ESO. The goal is to build up a sample of promising candidates to submit for a Spectroscopic Follow up proposal (Large Program?)

[2018-01-18 12:06] nrnapolita opened #12 "KiDS Structural parameter: paper I revisions and submission"

[2018-01-18 12:09] KiaraSpin commented on #10
Chiara sent the spectra to Francesco on 17/01

[2018-01-29 10:34] KiaraSpin commented on #1
GM 29/01
We should try to close this issue as quick as possible.
AI Crescenzo: Working on this during the week (starting on wed). In particular, 1-to-1 comparison between DR1/DR2 parameters and DR3 parameters.

[2018-01-29 10:42] KiaraSpin commented on #2
GM 29/01
We used these 9-band catalogs already to separate stars and galaxies (using the fact that NIR colors are very different for the two families) in the UCMG paper.  This worked very good. The percentage of contaminators is little (few %)

@ctortora has been in contact with people handling the catalog. They 1) confirm that the version we have is the final one (catalog did not change since two

[2018-01-29 10:43] KiaraSpin commented on #3
GM 29/01
LOW PRIORITY
To come back to this after we close the issue about catalogs and parameters checking.

[2018-01-29 10:51] nrnapolita opened #13 "prepare a report for the KiDS busy meeting on the galaxy/cluster science"

[2018-01-29 10:56] KiaraSpin commented on #4
GM 29/01
Still work in progress (problems running GALFIT on Thor).
GOOD NEWS: Visitors from China have simulations that they used to do weak lensing. They have galaxies with multicomponent Sérsic. They are willing to share with us their simulation. Nicola will keep contact with them and report on it.

[2018-01-29 10:57] KiaraSpin commented on #5
GM 29/01
Check #4
we will try to run GALFIT also on HST

[2018-01-29 10:59] KiaraSpin commented on #6
GM 29/01
@gdago is working on the draft.
AI group-> Peppe needs literature and papers on an explicit fit of the Faber-Jackson
@ctortora  found something. He will share the link

ATTENTION: The plots on this page are NOT up-to-date. The tilt is now gone

[2018-01-29 11:06] ctortora commented on #6
GM 29/01
@gdago

- [Here ](https://watermark.silverchair.com/mnras0394-1978.pdf?token=AQECAHi208BE49Ooan9kkhW_Ercy7Dm3ZL_9Cf3qfKAc485ysgAAAdgwggHUBgkqhkiG9w0BBwagggHFMIIBwQIBADCCAboGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMMvCHQzYgqbQ-NrNXAgEQgIIBi6xCSOdUkIl8wNI3aDomI3FJqrP2qOLbGGgdR7ClFU_OEZeb-0Wn8MeIt38Hh5HPnrPO3cNoqpcKDq3lSO08Izcz4jRl6TSGQLgyPyAOnLw3sdfvOimkCnvx2zXwk1gRBuqba7mu7TvMCjadFcYoRYtafoXh7-

[2018-01-29 11:13] KiaraSpin commented on #7
GM 29/01
@gdago will add a plot showing the comparison with BOSS

NEWS: Lisker asked us to apply the method (vel.disp. measurements) also to all the unpublished GAMA galaxies.  In this way Nicola and Peppe will be part of the GAMA team and will have access to all the GAMA data. We can then use GAMA unpublished data for other purposes.

AI Nicola-> run a match between the "largest" photometric cata

[2018-01-29 11:18] KiaraSpin commented on #10
AI Chiara -> Try to flux-calibrate the spectra to detect the sources in the continuum rather than in emission lines

[2018-01-29 11:25] KiaraSpin commented on #11
GM 29/01
We are starting to prepare a "method paper" highlight the different ways we used to select candidates and in general to "search" for lenses in all-sky surveys.
Currently we have already "successfully" applied 3 different method and we are investigating the complementarity of them.

AI Fedor -> provide Chiara with the images and cutoff of newest candidates from meth3

[2018-01-29 11:30] KiaraSpin commented on #12
GM 29/01
Nicola & Nyvia are working on the revisions. We need to understand the discrepancy between parameters inferred from different fitting methods (and therefore the disagreement between us and Kevin et al, 2017). Difficult to understand the real reason for this.  The only way would be to challenge the two routines on same set of data. We would like to avoid cause it is not just running GALFIT

[2018-01-29 11:32] KiaraSpin opened #14 "UCMG Spectroscopy paper"
GM 29/01
Crescenzo is working on the draft, improving the text and sorting out paragraphs.

[2018-02-05 09:23] KiaraSpin commented on #11
Fedor provided the cutoff of the new candidates. The visual inspection is almost concluded.
Nicola and Chiara checked all the images and made a lists of candidates (separately).
AI Chiara -> compare the lists and grade the candidates.

Also, Alexey provided images of ALL the candidates collected so far with gradfe >1.5 where he subtracted the sources. This is very useful to check for the presence

[2018-02-06 13:31] mariorpd13 commented on #2
Mario and Crescenzo selected the needed columns, email sent to Maciek (waiting for reply)

[2018-02-12 10:52] KiaraSpin commented on #1
GM 12/02
This issue is closed because we decided to run 2DPHOT on DR3.

However we have currently a PROBLEM WITH 2DPHOT.  It points to some directories of Francesco machine. He needs to take actions.

[2018-02-12 10:53] #1 closed

[2018-02-12 11:06] KiaraSpin commented on #14
GM 12/02
We will perform some tests on simulated compact galaxies.
@MariaAngelaRaj  is in charge for this.

[2018-02-12 11:31] gdago commented on #7
![sdss_gama_comparison_veldisp](https://user-images.githubusercontent.com/22191556/36094988-9b28433c-0ff0-11e8-92cb-c2ef214efef9.png)
![sdss_gama_comparison_veldisp_mass](https://user-images.githubusercontent.com/22191556/36095034-c74dd440-0ff0-11e8-87b8-da337deef10c.png)

[2018-02-12 11:35] KiaraSpin commented on #2
GM 12/02
Until now, Crescenzo has always used single-burst models (quite good for low-z ETGs, but not ideal for spirals and higher redshift galaxies). Once we consider also NIR data, we can relax the assumption by fitting colors in nine bands.
Inferred stellar pops will be (perhaps) more trustable ... especially in terms of "redshift  evolution"
Another important addition to our simplistic model i

[2018-02-12 11:40] gdago commented on #6
![gama_dr3_master0_bernardir_band_corr](https://user-images.githubusercontent.com/22191556/36095292-dd89f21a-0ff1-11e8-9771-78529fd689dd.png)

[2018-02-12 11:41] gdago commented on #6
![gama_dr3_master0_bernardir_band_corr](https://user-images.githubusercontent.com/22191556/36095321-08662ce2-0ff2-11e8-8c99-75334a111256.png)

[2018-02-12 11:43] KiaraSpin commented on #5
GM 12/02
Angela has run 2DPHOT and GALFIT on the same galaxy.
AI for @MariaAngelaRaj :
1. Take one of the galaxy from Nyvia's paper. Update here the image, ps file with also residual map.
2. Report here the parameters from 2DPHOT that are used as input for GALFIT
3. Update here the results from GALFIT with possibly image too

[2018-02-12 11:50] KiaraSpin commented on #6
GM 12/02
AI @gdago :
- Check with other literature papers
- In the next days analysis on a more complete sample will be finished; Giuseppe and Nicola are now full GAMA members. These products will be released to the internal survey. In exchange we got more data (internal release)

[2018-02-12 11:53] nrnapolita commented on #7
Please @gdago , adda a plot with GAMA mass distribution

[2018-02-12 12:07] KiaraSpin commented on #12
GM 12/02
@nrnapolita is working on it.
1. Plot comparing literature results. A plot has been added to clarify the assumptions and definitions of sizes (e.g. circularized vs Major axis). Plotting apples vs apples makes  the comparison *much better*! We are consistent :)
2. We still have the problem 2DPHOT vs GALFIT. Systematic differences exist on 1-by-1 galaxies up to 50%

[2018-02-12 12:07] KiaraSpin commented on #13
@mariorpd13 any news?

[2018-02-13 15:34] mariorpd13 commented on #13
Text on clusters sent to Nicola

[2018-02-16 10:38] nrnapolita commented on #13
Report about the nonWL activities, including DR4, assembled and sent by email!
We want to show wht we need the 9-band stuff for and what we are working on.
@KiaraSpin:  please send me some imeges
@ctortora:  do we have an image to add for the last page?

[2018-02-26 14:20] gdago commented on #7
![histgamav27_veldisp_mass_reff](https://user-images.githubusercontent.com/22191556/36675189-9ab73282-1b08-11e8-8d57-1d1ad40e5788.png)

[2018-02-26 14:39] KiaraSpin commented on #13
We sent our report and it was very appreciated and published in their pages.
@mariorpd13 SUMMARY of the BUSY WEEK meeting:
- Observations are going quite fast and it is foreseen that KiDS will be "completed" in Spring 2019 (stop at 1200 sq.deg which is the area also covered by VIKING).
- The DR4 (900 sq.deg) will be released to the collaboration in 1-2 months (as always man-power is the bottom nec

[2018-02-26 14:48] KiaraSpin commented on #2
GM 26/02
AI for @ctortora : Send a reminder to Angus to enquire more about what is he doing and what is the stage of stel. pop. analysis...

[2018-02-26 14:52] KiaraSpin commented on #3
GM 28/02
AI @mariorpd13:
Ask the GAMA people to ask that dataset (Konrad with cc Nicola) to use them within the KiDS collaboration.

[2018-02-26 14:52] KiaraSpin commented on #4
GM 26/02
NO news about this. ON HOLD for the moment

[2018-02-26 15:08] KiaraSpin commented on #6
GM 26/02
@gdago found a little bug in the code. This could cause an increase in the final number of galaxy for which the dispersion can be measured.

[2018-02-26 15:26] KiaraSpin commented on #12
GM 26/02
@nrnapolita produced all the new figures and is in the phase of implementing the text changes.

[2018-02-26 15:28] #13 closed, assigned to nobody

[2018-03-19 10:37] KiaraSpin commented on #11
GM 19/03
UPDATE: two of the best candidates were observed by Crescenzo at TNG.
We need to set up a strategy to reduce the data.

Chiara (with A.Agnello) is preparing a X-Shooter proposal.

Chiara is writing the "method paper" and has already circulated a draft to collaborators.
Figures are still missing, the cross-match with 2QZ could go into the paper, as well as the spectroscopic confirmation ..

[2018-03-19 10:38] KiaraSpin opened #15 "KABS Observations and Data Reduction"

[2018-03-19 10:39] KiaraSpin commented on #12
GM 19/03
@nrnapolita will start working on it again this week. (Postponed due to travelling)
Figures have been changed and revised according to ref comments.
AI @nrnapolita be ready with a new version of paper or at least the answer to the referee report by next Monday...

[2018-03-19 10:41] KiaraSpin commented on #10
GM 19/03
AI Chiara:
reduce the new OB
THIS IS HOWEVER LOW PRIORITY

[2018-03-19 10:42] KiaraSpin commented on #15
GM 19/03
Finally data are coming out quicker...
Fedor and Angela are looking into acquisition and reduction.
However... some issues with Astrowise needed to be solved. Now this is done and we can extract multi-band catalogs.

We need to test the full pipeline: from raw to multi-bands catalog.
Currently: we run the data red. in a single band and distribute among the collaborators.

**HIGH PRIORITY

[2018-03-19 10:44] KiaraSpin commented on #14
GM 19/03
TOMORROW 20/03 14:30 : SPECIAL GM TO DISCUSS THIS

[2018-03-19 11:01] FedorGetman commented on #15
[code]

[2018-04-16 12:29] KiaraSpin commented on #2
GM 16/04
A new project has been open in KiDS by Angus  H. Wright (Bonn):
**KV450: Data curation and mass estimation**
We need to discuss with him (teleconf planned) to check what exactly they will do and how we can fit into it.

AI @ctortora : coordinate with Angus

[2018-04-16 12:32] KiaraSpin commented on #4
GM 16/04
**Shanghai Simulations:**
@MariaAngelaRaj is working on it. She needs to edit the code to skip some steps in the 2DPHOT process (input: stamps + PSF).

[2018-04-16 12:37] KiaraSpin opened #16 "FORNAX - Galaxies Structural Parameters"
Within the FDS collaboration, we have a 9 square degree area mosaic around the center of the Fornax Cluster. It is a large and deep field of view where we can apply the tools we are using for KiDS.
The goal is to study the structural parameters of all the galaxies we detect and extract.

[2018-04-16 12:43] KiaraSpin commented on #16
We produced (are producing) catalogs for the single pointings.
Enrica produced the mosaic, it will be available soon. Then 2DPHOT and Sexetractor need to be run and we need to customize the parameters for the extraction and make them optimized for galaxies.

We are almost ready (with photometry) to move to the training of the machine learning. We need to collect all the redshifts info (from @gdago

[2018-04-16 12:45] KiaraSpin commented on #6
GM 16/04

@gdago is working on getting results on the **full** GAMA catalog.

@ctortora would like to use the catalog with stellar masses, struc. par., velocity and velocity dispersions, etc to produce dark matter fraction (140000 galaxies)
**AI @gdago** send the catalog to Crescenzo.

[2018-04-16 12:53] KiaraSpin commented on #12
GM 16/04
Nicola needs to hurry up with the revision (4 months already passed)

[2018-04-16 12:55] KiaraSpin commented on #14
GM 16/04
@ctortora sent the **final draft** to the collaboration.
Comments are due by tomorrow. We decided to be qualitative on some checks about homogeneity of density in the survey (e.g. south vs north or west vs est) etc..

Following on the test that @MariaAngelaRaj did on simulated "small" galaxies is that there is still a bit of shift (0.02, 0.03 dex). Although there are some very small shift

[2018-04-16 12:59] KiaraSpin opened #17 "Simulated UCMG"

[2018-04-16 13:03] KiaraSpin opened #18 "Issues related to different DR in KIDS (sizes, number density, ...)"
AI @mariorpd13 -> can you please collect here all the problems and the checks that you did concerning this issue?
We need a complete description of the problem including what has to be done and by whom?

[2018-04-16 13:04] KiaraSpin commented on #17
This new issue is a following-up of the previous one about the spectroscopy paper by @ctortora

GM 16/04 from previous issue(closed now):
Following on the test that @MariaAngelaRaj did on simulated "small" galaxies is that there is still a bit of shift (0.02, 0.03 dex). Although there are some very small shifts, the simulations are really okay! However we will skip this results for the next time a

[2018-04-16 13:04] #14 closed, assigned to nobody

[2018-04-16 13:09] KiaraSpin commented on #15
A teleconf with KABS people is planned (Nic made a doodle)
We have now a clear strategy to continue the data reduction and to also perform some quality checks.

[2018-04-16 13:27] ctortora commented on #16
We have catalogs of galaxies with spectroscopic redshifts from a) VIMOS (processed by @gdago ), b) literature.

Natasha Maddox sent me a catalog they were using for the targets of their new observations. The catalog consists of 2dF spectra, taken from M. Drinkwater.

When we will have the photometry, I will join the spectroscopic data, and I will send all the dataset to the Machine Learning people

[2018-04-16 15:36] FedorGetman commented on #15
[code]

[2018-04-16 15:55] FedorGetman commented on #15
Pointing | Filter | Observing Block    start time | Seeing for    exposures | Requested    seeing | ESO    grading | Reduction    status | PSF radius    of coadd | qualityview
-- | -- | -- | -- | -- | -- | -- | -- | --
 
161.6_-30.5 | OCAM_g_SDSS |  
161.6_-30.5 | OCAM_g_SDSS | 2018-03-11T00:26:32 | 0.61 0.56 0.64 0.60 | 1.4 | AAAA | [XX***] | 1.24 | qualityview
161.6_-30.5 | OCAM_r_SDSS |  
161.6

[2018-04-17 07:42] mariorpd13 commented on #18
Description of the problem: when @nivyaaroy runs 2dphot on KiDS DR1/DR2 images published in DR3, weird results are produced. The reason of that was tracked down to how the subsection science images are produced
In the plot below, you can see (from upper left, counter-clockwise), sections of: the full coadd, the science and mask subsections that @nivyaaroy produced. The sections were matched in pix

[2018-04-17 13:44] ctortora commented on #18
Dear Francesco, Fedor and Nivya,

Mario added all the information, please, can you check this issue?

C

On 17/04/2018 09:42, mariorpd13 wrote:

--
*Dr. Crescenzo Tortora*

/Post-Doc/
Kapteyn Astronomical Institute
Postbus 800, 9700 AV, Groningen
The Netherlands

Tel: +31 (0)50-3634088
e-mail (1): ctortora@astro.rug.nl
e-mail (2): ctortora@na.astro.it
web-page: https://www.astro.rug.nl/~ctortora/

[2018-04-19 09:38] FedorGetman commented on #18
On thor all imarth programm is the same, compiled staticaly with version cfitsio 3.30.
So, it really strange how wrong cutting was done.

[2018-04-19 09:51] FedorGetman commented on #15
[code]

[2018-04-19 10:46] mariorpd13 commented on #18
Yes, it is weird: the only thing I can think is to ask Nivya to look at my script, check that we are doing the same thing on the same data, and try to run it to see what she gets.....

[2018-04-19 11:15] nivyaaroy commented on #18
We are using the same data. I checked the code from Mario. Basically the commands are the same as in the code I used. Anyway I am trying to run the code from Mario too. I don't know whether it is the issue with the version or not. But why the code I used works for DR3 tiles and not for DR1 and DR2?

[2018-04-19 12:41] mariorpd13 commented on #18
@nivyaaroy run the "simplified" script on her account: the subsection image that she gets is correct.
In the picture:
left: "old" subsection (/home/roy/check_intdr3/ESO_DR3/KiDS_DR1.0_129.0_-0.5/KiDS_DR1.0_129.0_-0.5_r_01_01.fits)
right: "new" subsection (/home/roy/check_intdr3/ESO_DR3/KiDS_DR1.0_129.0_-0.5_code_mario/KiDS_DR1.0_129.0_-0.5_r_01_01_n.fits)
![images_nivya](https://user-images.github

[2018-04-19 12:45] KiaraSpin commented on #18
@mariorpd13, @nivyaaroy  sorry I did miss some steps:
Is the problem related to using two different CODES on the same images or
the problem arises when running BOTH CODES on DR1 and DR2 images?
i.e. is it a CODE-ISSUE or DATA-ISSUE?

[2018-04-19 12:55] mariorpd13 commented on #18
No.... we are using the SAME code on the SAME image on the SAME machine.... So it seems more a... magic-issue ;-)
I suggested Nivya to run again the full 2dphot script on that tile: maybe there was some temporary hardware/disk problem when she did that the first time, which corrupted the outputs (Fedor, is it possible... ?). It is a crazy idea, but I can't think of anything else.....

[2018-04-19 13:02] FedorGetman commented on #18
Generally speaking, it's not impossible (overlap in memory allocation, memory page reuse, wrong pointers and so on), but for my experience that quite improbable and can been happened one time, probability to have repeated the same hardware error is too small. More probable software problem.

[2018-04-19 13:06] KiaraSpin commented on #18
I do not believe in magic... I believe in science :D
Did you try to "share asd compare" the source codes? I mean... it could be that one of you changed a little tiny thing into the code... perhaps without realizing or remembering it?

[2018-04-19 13:12] mariorpd13 commented on #18
By the way, this is the error that I get with listhead on the "wrong" subsection image (and on many but not all subsection images in the same folder):

[2018-04-19 14:51] mariorpd13 commented on #18
Problem solved !

[2018-04-19 14:51] #18 closed, assigned to mariorpd13, ctortora

[2018-04-19 14:52] ctortora commented on #18
What was the problem?

C

On 19/04/2018 16:51, mariorpd13 wrote:

--
*Dr. Crescenzo Tortora*

/Post-Doc/
Kapteyn Astronomical Institute
Postbus 800, 9700 AV, Groningen
The Netherlands

Tel: +31 (0)50-3634088
e-mail (1): ctortora@astro.rug.nl
e-mail (2): ctortora@na.astro.it
web-page: https://www.astro.rug.nl/~ctortora/
<http://www.astro.rug.nl/%7Ectortora/>

[2018-04-19 14:58] mariorpd13 commented on #18
I will never tell :-D

In the original script, after imarith  there is a call to a delhead
code, which is the bad guy who corrupted the fits file.... So the
solution is just to comment it...

    Mario

On 19/04/2018 16:52, ctortora wrote:

[2018-05-14 11:16] gdago commented on #16
![fds_redshifts](https://user-images.githubusercontent.com/22191556/39994200-d7b0af04-5778-11e8-9ce5-c95069e25200.png)

We've got 518 measured spec-z from VIMOS (gdago analysed the central 1deg2 around NGC1399) and ~750 spec-z from the 2dFGRS survey within the FDS survey area.

[2018-05-14 11:23] KiaraSpin opened #19 "KIDS1748825 UCMG HST+VIMOS DATA"
On may 8-9 the HST made two orbits around the galaxy KIDS1748825, possibly the first ultra-compact massive strong gravitational lens ever discovered.

After obtaining VIMOS spectra of the galaxy, which showed some emission lines corresponding to a tiny little "blob" (perhaps arc) near by the early-type compact galaxy (figure 1), we applied and obtained HST WFC2 data in two filters: F390W and F814W

[2018-05-14 11:24] KiaraSpin commented on #19
FIGURE 1:

**Left:** The uppermost panel show a 25" x 25" rgb image from KIDS, the other two panels show the VIMOS field-of-view in two different wavelength, one of which ((6460A) hightlights the O[II] emission of the source.
**Right:** One-dimensional spectra of the lens (up) and the source (down) are plotted in black with a sky spectrum overplotted in blue. The main absorption lines of the lens,

[2018-05-14 11:27] KiaraSpin commented on #19
FIGURE 2:
HST imaqes in the F390 (left) and F814(right) filters.

![hst](https://user-images.githubusercontent.com/19711937/39994755-7a92bd60-577a-11e8-8e8e-9e676194c926.jpg)

[2018-05-14 12:11] KiaraSpin commented on #2
GM 14/05
Are we interested in the KIDS900? If yes, we need to first cross-check with 450 to see if the photometry is the same.

Still need to discuss with Angus.

[2018-05-14 12:17] gdago commented on #6
GM 14/05
@gdago  will send the catalog to @ctortora  today
and he will work on the paper.

[2018-05-14 12:20] KiaraSpin commented on #3
GM 14/05
Mario is currently working on the cluster paper. Working on some "issues"
1. What do you really mean by cluster member? In most of the cases you use the membership probability in a statistical way.
2. If you have a galaxy belonging to more than one cluster, what do you do?

[2018-05-14 12:33] KiaraSpin commented on #11
GM 14/5
Method paper sent to KiDS collaboration. A window of two weeks has been given for comments.

[2018-05-14 12:33] KiaraSpin commented on #5
GM 14/05
Chiara will send the fits file to @MariaAngelaRaj who will try to model them.

[2018-05-14 12:43] KiaraSpin commented on #15
GM 14/5
Around 500 mosaics and single band catalog. @FedorGetman will update the table after this GM.
We need to start quality checks. We need the participation of AstroWISE people. There is a problem with the interface. People in Groningen are working to fix it. After this is done, we will be able to proceed.

We had a skypeconf with people from KABS and @nrnapolita encouraged them to start makin

[2018-05-14 13:03] KiaraSpin commented on #16
GM 14/05
@ctortora and @gdago need to coordinate effort and share a catalog which contains ALL the literature redshifts in a square of 9x9 sq.deg.

*We need to do this before the SUNDIAL meeting (11-15/05)*

[2018-05-14 13:05] KiaraSpin commented on #17
GM 14/05
- Paper does not have a ref yet.
- This section will not go into the paper

[2018-05-14 13:05] #17 closed, assigned to MariaAngelaRaj, ctortora

[2018-05-14 13:21] KiaraSpin commented on #5
@MariaAngelaRaj @ctortora  @nrnapolita you can download the FITS files from here:
https://drive.google.com/file/d/1IQ3xENTwRySEO1zoqTUewS4Wy6NXAdQk/view?usp=sharing

[2018-05-14 14:40] FedorGetman commented on #15
[code]

[2018-05-14 15:09] gdago commented on #16
![fds_redshifts](https://user-images.githubusercontent.com/22191556/40006058-bc48de28-5799-11e8-9324-19b32fa40fc6.png)

Maybe I messed up coordinates, before. This seems to be more reliable.
According to the new catalog Crescenzo sent me, this is what we've got in total **6823 spectra coming from VIMOS and 2dF in the central 9deg2 around NGC1399**

The catalog is here:
https://www.dropbox.com/s/20

[2018-05-17 16:32] gdago commented on #16
After checking again I found I didn't messed up coordinates. There are simply two catalogs.
The one matching the FDS area is from Michael Drinkwater et al. (2000).
We've got **6840 spec-z within 9deg2** around NGC1399. We go up to 12525 if we consider the whole FDS area (26deg2).

The plot shows the 26deg2 of FDS and the blue box contains the 9deg2 around NGC1399. Included in the catalog there is

[2018-05-21 11:51] KiaraSpin commented on #19
Questions for @MariaAngelaRaj and @nrnapolita :
I noticed that the what you say is g-band, corresponds to FILTER =F814 and viceversa (r-band, which we do not have at all, corresponds to the bluer filter, F390W). I guess the header info is correct, but can you double check?

Here you find the residuals (upper panels) and the original image (lower panel) for F814 (left) and F390W(right)

![residuals

[2018-05-21 12:03] gdago commented on #6
![dago_hb_z035](https://user-images.githubusercontent.com/22191556/40306637-b913a600-5cff-11e8-9a1b-4aa4d80df154.png)
![dago_nn_z008_004](https://user-images.githubusercontent.com/22191556/40306640-bca979ca-5cff-11e8-9663-a0c59d988887.png)
![dago_nn_z001_035_hb_035](https://user-images.githubusercontent.com/22191556/40306643-be4bc634-5cff-11e8-941f-73bf9a0fdfa8.png)

[2018-05-21 12:50] KiaraSpin commented on #19
GM 21/05
Should we say few words about this system during the VST meeting?
We got HST, hoping this was a lens. Unfortunately it is not. However, we have extended kinematics on this galaxy (VIMOS), we can model the HST images and make a Jeans analysis
AI @MariaAngelaRaj improve model and get structural parameters.

[2018-05-21 12:54] KiaraSpin commented on #3
GM 21/05
@mariorpd13 Do you have updates?
Nicola would like to coordinate with you about the talk(s) at the VLT Surveys meeting

[2018-05-21 13:03] KiaraSpin commented on #16
GM 21/05
Nicola started to work on the re-submission of the paper

[2018-05-21 13:04] KiaraSpin commented on #15
GM 21/05
AI @FedorGetman can you produce the cutouts for the lenses candidates? (~8000, selected by Nicola, based on optical and infrared colors)

[2018-05-21 13:05] KiaraSpin commented on #12
GM 21/05
Nicola started to work on the re-submission of the paper.
AI @nrnapolita CHECK THE DEADLINE for resubmission...and in case, write to the editor.

[2018-05-21 13:05] KiaraSpin commented on #16
GM 21/05

@MariaAngelaRaj produced the catalog with 9sq.deg. (only missing some statistical info for few galaxies, e.g. chi2)

Spectroscopic redshifts are obtained by @gdago  matching 6dF .
We need to obtain the catalogs so that we can let the machine learning tools work on the photometric redshifts.

[2018-05-21 15:27] mariorpd13 commented on #3
I implemented what discussed last week: for each galaxy I assign a
cluster membership if defined, if there is more than one "parent
cluster" I assign the highest available probablity. The script is
running, but it is not finished yet.

On 21/05/2018 14:54, KiaraSpin wrote:

[2018-05-21 20:18] nrnapolita commented on #3
On 21/05/18 17:27, mariorpd13 wrote:

great!

NRN

--
Dr. Nicola R. Napolitano
Staff Astronomer
INAF - Astronomical Observatory of Capodimonte
Salita Moiariello, 16, 80131, Napoli (Italy)
phone: +39 081 5575509; fax: +39 081 5575457
email: napolita@na.astro.it — Skype: nnapolita
web page: http://www.na.astro.it/~napolita

[2018-05-21 20:19] nrnapolita commented on #16
On 21/05/18 15:06, KiaraSpin wrote:

I guess @MariaAngelaRaj <https://github.com/MariaAngelaRaj> has finished
1 over the 9 deg2

N

--
Dr. Nicola R. Napolitano
Staff Astronomer
INAF - Astronomical Observatory of Capodimonte
Salita Moiariello, 16, 80131, Napoli (Italy)
phone: +39 081 5575509; fax: +39 081 5575457
email: napolita@na.astro.it — Skype: nnapolita
web page: http://www.na.astro.it/~napol

[2018-05-23 12:16] FedorGetman commented on #15
updated archive:
https://www.dropbox.com/s/k4u8otim5evpif1/7635_gri_matched_rgb_bw.tgz?dl=0
my quick look:
267   	  161.296355   	  -32.939029 - ring ???
0943   	  162.572249   	  -34.180849 - ring ???
1249   	  164.407742   	  -33.842961 - ring ???
1679   	  164.728254   	  -33.895568 - cross ???
5643   	  188.374556   	  -35.530924 - nice eye :)

[2018-05-28 12:07] gdago commented on #6
The presentation will be focussed on the main results on the automatic internal kinematic extraction from the full GAMA private database "GAMAv27".

- >**150k velocity dispersions** have been retrieved with a **qFit>0.9** (which I defined to be a good fit threshold);

- >**120k velocity dispersions** have been retrieved with a **qFit>0.9 and SNR>3** (even low, such snr threshold still shows good a

[2018-05-28 22:34] nrnapolita commented on #6
In Fig. 2 I don't understand in which direction the incomplteness at -21.75 works. I expected the consistency with HB to be present more at bright M<-21.73 luminosity, but there is where we see the bending of the slope and the deviation from HB. On the other hand at fainter mag everything is consistent.
Furthermore, we don't see any evolution with z, do we?

[2018-05-28 22:39] nrnapolita commented on #6
Plot 2: "We don't show fit to data for redshift range up to z=0.15, or z=0.25, since we can notice from Plot 3 that we would suffer of severe incompleteness effects."
I don't understand as the low-z sample has a higher depth and then the incompleteness should raise at lower luminosities (e.g. M~-19.8 for z=0.15), or there is some incompleteness I don't see?

[2018-06-03 14:16] ctortora opened #20 "UCMGs: future proposals"
It is time to think about UCMGs in a wider perspective.

In particular, It is time to start thinking and planning new proposals, to complete the sample of UCMGs with other new spectroscopic redshifts and to do deeper analysis, e.g. by measuring for subsamples better quality spectra for stellar population analysis:
(TNG deadline is passed, INT and WHT is still far).

1.  **Future plans about the us

[2018-06-18 07:33] KiaraSpin opened #21 "Spectroscopic Follow up of Gravitational Lenses"
1. **LBT DDT (INAF) Observations with MODS1.**
- KIDS1406, KiDS1409 FULLY OBSERVED. A.Gargiulo is reducing the data right now. In a few days Chiara will get the spectra
- KIDS1421, KIDS1453 PARTIALLY OBSERVED. Chiara Asked if the data reduction can be made anyway.

2. A.Agnello has a run with T.Anguita  on **15th July at NTT**.
We need to prepare finding charts for systems we want to give to Timo

[2018-06-18 12:37] KiaraSpin commented on #20
GM 18 June
Together with Lucia Marchetti, we can submit a proposal to SALT.
@ctortora  will lead the proposal. A companion proposal on lenses will be lead by Lucia.

[2018-06-18 12:38] KiaraSpin commented on #21
GM 18 June
Together with Lucia Marchetti, we can submit a proposal to SALT.
For "political reasons" Lucia  will lead the proposal. A companion proposal on UCMGs will be lead by Crescenzo.
@ctortora please make clear with Lucia that however she will be PI

[2018-06-18 13:04] KiaraSpin commented on #19
GM 18/06
This issue is very similar to another, which Chiara just closed (#5)
Please refer to this one if you have further updates

[2018-06-18 13:05] #5 closed

[2018-06-18 13:06] KiaraSpin commented on #11
GM 18/06
Paper I has been submitted. Now, finger crossed and let's wait for ref. report.
Meanwhile, Chiara is starting to work on the KABS paper.
@nrnapolita Check the overleaf draft that Chiara sent

[2018-06-25 11:47] #6 closed

[2018-06-25 11:54] KiaraSpin commented on #12
GM June 25
The deadline for re-submission is 28 June. Nicola plans to provide a draft for co-authors tonight.

[2018-06-25 12:10] KiaraSpin opened #22 "UCMGs - Spectroscopic Folow up"
GM June 25

![results_diana](https://user-images.githubusercontent.com/19711937/41849500-73c04af2-7881-11e8-8415-4f0b75b850dc.jpg)

[2018-06-25 12:14] KiaraSpin commented on #22
GM June 25
Summary of current situation: we have 23 galaxies with INT data.
The orange line is a missing galaxy. Where is it? @ctortora ?
Diana obtained spec redshifts for 22 of them. Values in red are those for which photometric redshifts differ from spectroscopic ones.
Values with "*" are very uncertain results, given the very low S/N of the spectrum.
For few of them, Chiara obtained an independ

[2018-07-02 09:40] KiaraSpin commented on #12
PAPER HAS BEEN SUBMITTED

[2018-07-02 09:41] #12 closed, assigned to nrnapolita, nivyaaroy, ctortora

[2018-07-02 09:43] KiaraSpin commented on #4
GM 02/07
This task has been moved to Francesco, while Angela will focus more on FDS.

[2018-07-02 10:07] KiaraSpin commented on #11
GM 02/07
@ctortora Check the situation with Enrico on KABS-Arcs! Access the status of the data uploaded by Fedor.

We got the referee report for Paper I and for Agnello2018, Chiara is working on it.

[2018-07-02 10:08] KiaraSpin commented on #15
GM 02/07
The data reduction is on hold.
Quality check has to start

[2018-07-02 10:09] KiaraSpin commented on #20
GM 02/07
Crescenzo sent an email to collaborators with a plan for the two SALT proposals (UCMGs and Lenses).

- Ultra-compact galaxies (UCMGs).
We can start with 15-30 UCMGs, let's see later how much time we need to obtain reasonable S/N for redshifts (and see also if we can measure the velocity dispersion). We can also observe lenses in the equatorial strip, thus we could potentially spread the o

[2018-07-02 10:12] KiaraSpin commented on #22
GM 02/07
Diana has the log file of the observations lead by Nicola for the first run.
We still need to find the log for the other run.  AI @nrnapolita : find and send the log to Diana

[2018-07-02 10:44] KiaraSpin commented on #20
GM 02/07
HST Archival Data
@gdago queried the HST Archive and found out that some candidates have been observed with HST.
He must however check one-by-one the images (there is no catalog for HST). It takes time.

[2018-07-09 10:00] KiaraSpin commented on #11
GM 09/07
ARCS in KABS: Enrico has no time to download and run the code. BUT this is low priority for him!
QSOs in KABS: New selections based on WISE+KABS. Chiara and Nicola are working on final list of candidates

REFEREE REPORT: Chiara finished the ref report. She only needs to clarify one point with Adriano. She will send a reminder to him (again)

[2018-07-09 10:04] KiaraSpin commented on #20
GM 09/07
We will focus for this SALT run on gravitational lenses.
It is in fact crucial to have people from South Africa and they are interested in lensing but not in UCMGs.

[2018-07-09 10:04] KiaraSpin commented on #21
GM 09/07
Crescenzo will wrk on the SALT proposal that Lucia will lead (we need to have people in South Africa).

[2018-07-09 10:05] KiaraSpin commented on #22
GM 09/07
Nicola passed the log to Diana and she is working on that.

[2018-07-09 10:07] KiaraSpin commented on #16
GM 09/07
AI for Angela: talk to Renyer and get knownledge on how to run the KiDSKat on the mosaic

[2018-07-09 10:08] KiaraSpin commented on #15
GM 09/07
AI Nicola: send the OBs to ESO for the new observations

[2018-07-09 10:16] KiaraSpin commented on #7
GM 09/07
We have a catalog of all galaxies with spectroscopy from GAMA and BOSS (velocity dispersion, line-index measurements (emission and absorption) and photometry from KiDS.

AI Nicola: share this with SUNDIAL and with other people in the group. Also write a summary of the content of the catalog

AI ALL: once Nicola shares the catalog, have a look at it and check for what we can use.

[2018-07-10 08:53] gdago commented on #7
We only got emission line measurements.

[2018-07-18 09:58] KiaraSpin commented on #3
GM 18/07
Mario and "cluster people (Bellagamba et al.) are working on the second paper.
BCG selection is going to go in paper III, with something about Crescenzo's catalog included.
As soon as Mario has a final catalog (some cleaning still ongoing) he will share it with us.
He has :
1. "potential BCG" matched to Crescenzo's catalog
2. membership probability assigned to each of Crescenzo's catalog

[2018-07-18 10:05] KiaraSpin commented on #7
GM 18/07
Nicola shared the catalog with SUNDIAL. We are waiting for feedback and we will re-work on that when we get DR4

[2018-07-18 10:12] KiaraSpin commented on #21
GM 18/07
- SALT proposal is almost ready to be circulated to the rest of the collaborators.
The idea is to observe ~30 QSOs and ~20 arcs, over the whole semester.
*AI Chiara/Crescenzo* : circulate the proposal

- NTT (July) run: we were very unlucky with weather. Nevertheless some KABS and KIDS candidates have been observed. However, only one is definitively confirmed (z~2.6 QSOs). Two "unluckily"

[2018-07-18 10:18] KiaraSpin commented on #19
GM 18/07
AI Nicola: provide a model with photometry+kinematics for this system.
AI Crescenzo: provide references to Nicola on other papers doing the same with IFU

[2018-07-18 10:24] KiaraSpin commented on #11
GM 18/07
Paper I (Spiniello et al. 2018) has been accepted :) 👍

[2018-07-18 10:25] KiaraSpin commented on #16
GM 18/07
Angela is currently in Groningen and she discussed this with Renyer... more updates will come

[2018-07-18 10:27] KiaraSpin commented on #22
GM 18/07
Diana had some troubles in reading the logbook of the latest observation run and she had to spend some times understanding "what is what". More updates will come

[2018-07-19 16:43] mariorpd13 commented on #3
I set up a google team drive with the catalog defining the cluster membership probabilities. Please send me the google emails (@inaf.it or @gmail.com) to define the team drive members

[2018-07-20 08:36] nrnapolita commented on #3
I'm nrnapolita@gmail.com

Thanks a lot!

Nicola

On 19/07/18 18:43, mariorpd13 wrote:

--
Dr. Nicola R. Napolitano
Staff Astronomer
INAF - Astronomical Observatory of Capodimonte
Salita Moiariello, 16, 80131, Napoli (Italy)
phone: +39 081 5575509; fax: +39 081 5575457
email: napolita@na.astro.it — Skype: nnapolita
web page: http://www.na.astro.it/~napolita

[2018-07-20 10:12] mariorpd13 commented on #3
P.S. if you have it, please send me the INAF email (@inaf.it). Up to now I added @nrnapolita and @KiaraSpin, I did not find it for @ctortora

[2018-07-20 11:01] FedorGetman commented on #3
fedor.i.getman@gmail.com
or
fedor.getman@inaf.it

On Fri, Jul 20, 2018 at 12:12 PM, mariorpd13 <notifications@github.com>
wrote:

[2018-07-26 09:55] KiaraSpin commented on #2
GM 26/07
There is a paper coming out from KiDS+VIKING presenting stellar masses obtained by 9 bands. For the moment, mainly due to a lack of communication, we have not been involved in this. HOWEVER it is important now to provide ideas and possible science projects we can lead and scientific products we can provide to them.
For instance:
- Follow up on UCMGs
- Stellar population parameters (relaxi

[2018-07-26 10:05] KiaraSpin commented on #11
GM 26/07

**AI Chiara**: Contact Timo to receive a summary of the july NTT run

**AI Chiara**: Produce a list of ONLY NEW QSOs candidates from KABS and send it to Fedor to produce the cutouts.

**AI Nicola**: Check availability of 4 bands catalog in KABS

**AI Crescenzo**: We need to "complete" the Arcs part of the method paper. Enrico is really busy finishing the thesis but at least we can ask En

[2018-07-26 10:35] KiaraSpin opened #23 "HOLIDAYS"
Peppe: always online until end of August when he goes to Chile
Nicola: on and off but there if needed
Chiara: OFF 27/07-05/08, OFF 10/08 - 19/08. On for the rest and reading emails
Crescenzo: OFF 05/08-16/08. On for the rest and reading emails
Angela: travelling around 08/08
Mario: OFF 9/8-19/8, 29/8-3/9. Available if needed for the rest of August

PLEASE ADD HERE WHEN YOU ARE NOT AVAILABLE

[2018-07-26 12:11] ctortora commented on #2
Dear all,

just some ideas/comments.

Of course, what we can do from our side is to:

a) do something for galaxy classification using SED fitting;
b) They should have best fitted age/Z, we should work on it, running
lephare, also with other set of models....
c) people from machine learning group should want to use 9-band
photometry for their redshift estimate

Moreover, the products of the KV450 p

[2018-09-10 10:08] KiaraSpin commented on #7
GM 10/09
Peppe's paper has been almost drafted but it is a GAMA paper. The draft will be shared within the KIWI team.
Velocity dispersions have to be used for other science cases., so we need to collect ideas for new projects!
*AI ALL:* Come up with ideas

[2018-09-10 10:15] KiaraSpin commented on #11
GM 10/09

QSOs: the procedures have been set. Chiara produced a final list of candidates and Fedor produced the cutouts. Now visual inspection is necessary.
Many people in the team involved (Diana, Peppe, Nicola, Crescenzo, Mario).
**Deadline 21/09**

ARCs: Enrico is very busy with finalizing the thesis.

[2018-09-10 10:32] KiaraSpin commented on #22
GM 10/09
Crescenzo is writing a proposal to use NL time on INT. To be seen if we want to extend also to William Hershel.

**AI Chiara**: Prepare some figures of the spectra for which Diana measured velocity dispersion.
DONE!

**AI Crescenzo**: MNake a table with ALL the galaxies already spectroscopically observed and collect the luminosities, redshifts, masses, etc... to get some numbers for the W

[2018-09-10 10:33] KiaraSpin commented on #20
PROPOSAL HAS BEEN SUBMITTED. Fingers crossed now

[2018-09-10 10:37] KiaraSpin commented on #3
GM 10/09
We could join the "cluster catalog" with the velocity dispersion catalog that Peppe produced.

[2018-10-15 11:59] KiaraSpin commented on #11
GM 15/10
Dea all,
I have created a google spreadsheet with the list of candidates.

 You find it [HERE](https://docs.google.com/spreadsheets/d/1N9MXgiozV9MG_KwU2lNp8UyqGkqoijr--6_ntKjLCUE/edit?usp=sharing) but you need to ask my permission to access it.

In the sheet, you will find find different TABS (down, left corner) with the different lists of objects.
I have divided them into:

**DOUBLE COLO

[2018-10-15 13:08] #23 closed, assigned to nobody

[2018-10-15 13:12] KiaraSpin commented on #21
GM 15/10
Crescenzo and Chiara are working on PHASE 2 for SALT.
We got half of the time we requested. Now we are preparing the list of targets, with PA and slit, exposure time, finding charts, etc. If you want to have a look it is [HERE](https://docs.google.com/spreadsheets/d/1xrG3k5sJn1srvx1EHd8KAMrz6eGYiT-Pt9ggH4kokBE/edit#gid=0)
**Deadline 19/10**

[2018-10-15 13:20] KiaraSpin commented on #22
GM 15/10
XSH Proposal to study the stellar population (and IMF) of 10 massive, and old systems has been submitted. (Chiara as PI)

All previous AI have been done.
**Diana** is working on the paper
Crescenzo taught her how to use LEPHARE and now she is working on recomputing masses and check how many objects are confirmed as UCMGs

[2018-10-15 13:21] KiaraSpin commented on #20
GM 15/10
This ISSUE has been closed. The discussion continues in #22

[2018-10-15 13:21] #20 closed, assigned to nobody

[2018-10-15 13:24] KiaraSpin commented on #7
GM 15/10
The **9-bands catalog (KiDS+VIKING)** for DR4 is avalilable on thor

- 9-band photometry and BPZ photometric redshifts catalogues:
/data/KIDS-1000/ESO-DR4-photometry-catalogues/

- weak lensing catalogues:
/data/KIDS-1000/K1000-SHEAR-9bandPZ-CATALOGUES/

[2018-10-15 13:25] KiaraSpin opened #24 "KiDS+VIKING DR4 catalog"
The **9-bands catalog (KiDS+VIKING)** for DR4 is avalilable on thor

- 9-band photometry and BPZ photometric redshifts catalogues:
/data/KIDS-1000/ESO-DR4-photometry-catalogues/

- weak lensing catalogues:
/data/KIDS-1000/K1000-SHEAR-9bandPZ-CATALOGUES/

_Originally posted by @KiaraSpin in https://github.com/nrnapolita/KIWI_LSST/issues/7#issuecomment-429850996_

[2018-10-15 13:35] KiaraSpin commented on #3
GM 15/10
No update for KIDS1000 (DR4)
_AI NICOLA_ check the structural parameters

[2018-10-15 13:46] KiaraSpin commented on #19
GM 15/10
This is not a lens, but still we will derive spatially resolved kinematics (VIMOS) and dynamical model (HST) studying for the first time the internal structure of an UCMG.
_AI Nicola_ : working on the dynamical model

[2018-10-15 13:50] KiaraSpin commented on #15
GM 15/10
Mario: Which magnitude should we use? Waiting for GAP_MAG or use APERTURES_MAG?
**Waiting for GAP**
We will correct photometry by computing the offset from GAIA. This will also provide a further quality check (if the offset is too big, then there is a problem

Quality Check will start soon. Fedor will provide more info and create an user.
In a couple of week we should be able to start

[2018-10-22 09:05] KiaraSpin commented on #21
GM 22/10
SALT PHASE2 is submitted. Observations will hopefully start on November 1st.

[2018-10-22 09:28] KiaraSpin commented on #19
GM 22/10
Chiara extracted new aperture spectra (pseudo circular annuli), and then re-run PPXF on the new spectra.

FOUR MOMENTS
Central       	V = 47.7+-16.2,   Sigma=227.1+-13.6,  h3=0.003+-0.0046,   h4= 0.08+-0.039
Aperture1     	V= 88.7+- 40.3,  Sigma=195.5+-56.3, h3=-0.0089+-0.06,   h4=0.004+-0.095
Aperture2      V=152.4+- 51.0,  Sigma=177.5+-52.9,  h3=0.000298+-0.24, h4=0.0015+-0.124

TWO MOM

[2018-10-22 09:35] KiaraSpin commented on #11
AI Chiara: set a deadline for visual inspection and share the Overleaf paper draft with Crescenzo and Nicola

[2018-10-22 09:47] KiaraSpin commented on #19
GM 22/10
AI Chiara&Peppe finalize spatially resolved kinematics
AI Nicola: finalize dynamical model

[2018-10-22 09:48] KiaraSpin commented on #22
GM 22/10
SALT PHASE2 submitted

[2018-10-22 09:53] KiaraSpin commented on #22
GM 22/10
Diana is making progress on the paper. If Peppe has time, he could run the automatic procedure (ppxf gui) to get another independent estimation of redshifts for these galaxies, and velocity and dispersion for the best ones.

[2018-10-25 07:44] mariorpd13 commented on #3
MR 25/10
I made a catalog of galaxies with cluster membership probabilities WITHOUT structure parameter measurements. The catalog is in the google drive team, Nivya will start to work on it.

[2018-11-23 14:17] KiaraSpin commented on #19
UPDATE 23 NOVEMBER 2018
Dear all,
I attach here a report of the work I have been doing on KIDS1748. In particular, I explain the procedures I undertook to extract the 1D spectra in "pseudo-circular-anulii" apertures.

Now the spectra have been sent to Peppe which will run his ppxf+bootstrapping with new functions to improve results in the case of low S/N and noisy spectra.

[REPORT_CS.pdf](https:/

[2018-12-02 13:55] KiaraSpin commented on #21
UPDATE 02/12
The first 5 systems were observed at SALT.
We are happy to report that we confirmed a quad:

<img width="223" alt="a0214" src="https://user-images.githubusercontent.com/19711937/49340549-820d0a80-f641-11e8-9112-7fac8c89c1cd.png">

with source at z~3.2
<img width="1196" alt="a0214_a bsource" src="https://user-images.githubusercontent.com/19711937/49340589-49b9fc00-f642-11e8-843a-0c76cb

[2018-12-03 11:08] KiaraSpin commented on #3
GM 03/12
Nivya is working on getting the structural parameters of the cluster galaxies.
She will update us soon.

[2018-12-03 11:15] KiaraSpin commented on #11
GM 03/12
AI Chiara: re-start the "paper-flow" for the KABS-Lens. Coordinate with Enrico&Crescenzo.

[2018-12-03 11:18] KiaraSpin commented on #22
GM 03/12
AIs @gdago :
1. send the velocity dispersions of all the galaxies to Diana.
2. send her the Faber-Jackson relations for z=0 and z=0.3.

[2018-12-17 11:57] KiaraSpin opened #25 "Disk truncation in Late-Type galaxies in KiDS images"
GM 17/12/2018
AI @MariaAngelaRaj write a brief description of the issue and the steps we need to undertake.

[2018-12-17 11:57] KiaraSpin commented on #22
GM 17/12
AI Diana/Crescenzo: Compare the LE PHARE mass measurements.

[2018-12-17 11:58] KiaraSpin commented on #19
GM 17/12/2018
AI @nrnapolita : work on the paper...

[2018-12-17 11:58] KiaraSpin commented on #11
GM 17/12
AI @nrnapolita  and Crescenzo:
Work on the draft of the lens paper

[2018-12-17 11:59] #10 closed, assigned to KiaraSpin

[2019-01-07 08:57] MariaAngelaRaj commented on #25
The goal of this project is to automatically derive break radii of LTGs and study the effect of the environment on the evolution and structure of these galaxies. We have designed an algorithm which derives this break radius (br) on an initial guess of the disc (inner and outer regions if we find a break) and tested this on a small sample of LTGs inside the virial radius of the Fornax Cluster. In o

[2019-01-08 13:29] KiaraSpin commented on #24
AI @nrnapolita : Contact Stefano Cavuoti to check what is the situation with the ML redshift.

[2019-01-08 13:33] KiaraSpin commented on #22
AI Crescenzo : dedicate some time to Diana to finalize the paper shortly

[2019-01-16 07:04] nrnapolita commented on #3
Nivya has completed a first 2DPHOT run but found that there where missing galaxies in her final catalogs.
Mario told he did not use flags for his cluster catalog and there are a lot of sources that might fall into masked regions
I checked that, see figure below

[2019-01-16 07:14] mariorpd13 commented on #3
Missing figure ... ?

     Mario

On 16/01/19 08:04, Nicola R. Napolitano wrote:

[2019-01-16 07:20] nrnapolita commented on #3
![missing_galaxies_in_clusters](https://user-images.githubusercontent.com/24670049/51233292-d4905500-1969-11e9-8b4a-d9ff7da60253.png)

On the right image a smal section of Mario catalog overplotted over the KiDS image (129.0_-0.5, rband), on the left, in red is Mario sources and in blue the 2DPHOT output sources for which 2DPHOT can go and measure parameters.

Hence, the missing galaxies are in th

[2019-01-16 07:23] nrnapolita commented on #4
I have lately had a mail exchange with Diego Tuccillo and it seems we are starting this task again. More soon

[2019-01-16 07:24] nrnapolita commented on #25
@MariaAngelaRaj I suggest you remove figures above since this is a public chat ;-)

[2019-01-16 08:00] nrnapolita commented on #24
A short update
1) the ML photo-z have been produced for 41M of galaxies, by Cavuoti et al.
2) @ctortora and me are training a student in Zhuhai to derive stellar population and classification for these 41M galaxies.

[2019-01-16 11:34] nrnapolita commented on #25
List of 170 large galaxies (re_g>20" and z_phot<0.15) passed to Fedor to extract
1) colour images
2) fits stamps

[2019-01-18 08:54] nrnapolita commented on #2
This project has been took over by a student in Zhuhai (Linghua Xie) who is being trained by Crescenzo and myself and with a local supervisor (prof. Baitian Tang). We will update as soon as we have solid results

[2019-01-18 08:58] nrnapolita commented on #25
Fedor has produced the first sample of large sized galaxies and this is how his thumbnail looks like

<img width="776" alt="immagine" src="https://user-images.githubusercontent.com/24670049/51375968-80bb7280-1b07-11e9-8b52-faac62645c34.png">

[2019-01-18 09:00] nrnapolita commented on #25
It contains LTGs *and* ETGs since no morphological preseletion has been applied

[2019-01-21 13:23] KiaraSpin commented on #22
GM 21.01.2019
AI @ctortora : checking the masses received from Diana. Completing the number density calculation
AI @Diana : update the paper (now on Overleaf)

[2019-01-21 13:34] KiaraSpin opened #26 "OBs preparation of GL candidates for next NTT run"
AI @Chiara prepare a list of candidates from KIDS and KABS

[2019-01-21 13:43] KiaraSpin commented on #11
GM 21/01
Same as previous meeting. AI @nrnapolita and @ctortora Work on the draft

[2019-01-26 06:34] nivyaaroy commented on #3
Here is the catalog with structural parameters for galaxies not included in the flagged region. I included the following parameters:
mu_0: central surface brightness of the fitted Sersic model.
mu_e: mean surface brightness within r_e.
r_m: effective radius along major axis.
r_e: equivalent effective radius.
q: axis ratio.
PA: position angle of galaxy major axis.
n: Sersic index.
mag_2dphot: total

[2019-01-28 08:31] nrnapolita commented on #3
please all download the file because the link will be removed in 1h

[2019-01-28 08:38] nrnapolita commented on #3
@mariorpd13 @ctortora do we have masses of these galaxies? we also need all other info to match with. E.g colours, masses, redshift and their distance from the high probablility cluster. Or have a catalog with all these information which we can play

[2019-01-28 08:45] ctortora commented on #3
Hi,

If they are in DR3 I guess yes. I will check.

I forgot to tell you that I cannot join the teleconf today, since I am
travelling.

Cheers,

            C

Il 28/01/2019 09:38, Nicola R. Napolitano ha scritto:

--

*Dr. Crescenzo Tortora*

/Post-Doc/
INAF - Osservatorio Astrofisico di Arcetri
Largo Enrico Fermi 5
I - 50125 Firenze (ITALY)

office phone number: +39 0552752242
e-mail: ctortora@a

[2019-01-28 08:52] nrnapolita commented on #3
ok, no problem

N

____________________________________________________

Prof. Nicola R. Napolitano
School of Physics and Astronomy
Sun Yat-sen University, Guangzhou, Zhuhai Campus
2 Daxue Road, Tangjia, Zhuhai, Guangdong 519082, P.R. China
Office 215, Building #18,
Skype/WeChat: nrnapolita

--------------------------------------------------------------------------------
本邮件及其附件含有发送给特定个人和用于特定目的的保密

[2019-01-28 13:46] mariorpd13 commented on #3
Hi, I have two questions:

1. ~ 5000 galaxies are actually duplicated galaxies, probably from overlapping tiles: what is the best value to take ?

2.  I overplotted (https://user-images.githubusercontent.com/14972397/51840230-c9470d00-230b-11e9-8541-82e78719debe.png) the "full" members' catalog (~ 250k galaxies, in blue) and Nivya's catalog (~ 90k galaxies, in red). Precisely, red points are galax

[2019-01-28 14:00] mariorpd13 commented on #3
I updated the comment in the issues and added the plot

    Mario

[2019-01-29 04:13] nrnapolita commented on #3
Thanks Mario. It seems to me that the mask problem is a minor effect, indeed.
I propose that @MariaAngelaRaj starts the new 2DPHOT run with no masks and we will see what's going on. Maybe we can check on a small area whether the problel persists.
@nivyaaroy please get in touch with Angela.

[2019-02-05 10:10] mariorpd13 commented on #3
@nivyaaroy, is it possible that the problems we see in the results are still due to the issue that we fixed some time ago ? In the split_xxx script, there was a line delhead, that corrupted the fits file and produced random results. Can you check ? Thanks !

[2019-02-11 12:19] nrnapolita commented on #19
Double chack for @KiaraSpin and @gdago
Is  the file nicola_compatta _wei _metal _age _MEAN _new.cat the latest one to use?

[2019-02-11 12:27] gdago commented on #19
It seems to be the one.
I cannot confirm it because my pc in Santiago is currently shut down and I
cannot reach it at the moment.

But should be the last one I sent you via Skype.

Il giorno lun 11 feb 2019 alle ore 13:19 Nicola R. Napolitano <
notifications@github.com> ha scritto:

--
Giuseppe D'Ago, PhD
Postdoctoral researcher

*Instituto de AstrofísicaAvenida Vicuña Mackenna 4860, MaculSantiago

[2019-05-13 12:54] KiaraSpin opened #27 "2DPHOT ON CONFIRMED UCMGs"
AI Crecenzo/Nicola: download cutouts from ESO Archive Science Portal and run 2DPHOT on it

[2019-05-16 14:08] nrnapolita commented on #27
We want to run 2DPHOT on NIR images from VIKING. Maybe Z-band.
We need to check the seeing and the background level.

[2019-05-16 14:15] nrnapolita commented on #19
Some quite final MCMC model for the galaxy, isotropic velocity ellipsoid. The MCMC seems to favor lower concentration than standard Chi2, now marginally consistent with expectation from Planck cosmological parameters. The top-light IMF (\delta M/L= M/L/M/L_Chab) seems quite robust and it is even more top-light than found with previous models (\delta M/L= 1.9).
I have plotted the expected h_4 param

[2019-05-17 08:36] KiaraSpin commented on #11
Update: the KABS-Lens paper has been submitted. The Open action items are closed, until we receive the referee report

[2019-05-17 08:43] KiaraSpin commented on #26
`This` is done. The run is in two weeks.
Here the list of candidates I selected (mainly from Vlad's new list-> DR4)

VK0208-3202
![DESJ020853 3-320201 4 tif](https://user-images.githubusercontent.com/19711937/57914894-e5a59000-788f-11e9-8851-588a45ab7c73.png)

VK0013-3213
![DESJ001306 5-321333 2 tif](https://user-images.githubusercontent.com/19711937/57914919-f35b1580-788f-11e9-86eb-4a9b6ff6b8a8.p

[2019-05-21 07:16] nrnapolita commented on #19
@KiaraSpin please provide literature with looser constraints on deltaIMF

[2019-05-21 07:33] KiaraSpin commented on #19
Here some reference of lensing+dynamics+ (sometimes SPS) to constrain total vs stellar mass or fraction of internal dark matter, or IMF mismatch parameter.

Different data (better), different methods, but always larger errors...
https://arxiv.org/pdf/1410.1881.pdf
https://iopscience.iop.org/article/10.1088/0004-637X/709/2/1195/pdf
https://iopscience.iop.org/article/10.1088/0004-637X/724/1/511/pdf

[2019-05-21 11:58] nrnapolita commented on #19
@KiaraSpin: I thought you said the larger uncertainties were form similar analysis but now you are mentioning *only* lensing+dynamics. I guess I commented that you might expect that the combination of techniques, while on one hand might reduce systematics, on the other increases the errors. I am not surprised that they get larger errorbars of the IMF mismatch parameter.

[2019-05-21 12:16] mariorpd13 commented on #19
Just a probably silly comment: if you have very small errors, but large
systematics, I guess that this means that something is missing in the
error budget, which should include the effect of the systematics... ?

On 21/05/19 13:58, Nicola R. Napolitano wrote:

[2019-05-21 12:21] nrnapolita commented on #19
here the only systematics can come from the anisotropy which they generally don’t constraint with the h4 parameter.
I checked against the h4 estimates and the prediction are reasonably ok in the center. If h4 is good enough there, then the isotropic assumption is fine and there are no large systematics.

Nicola

____________________________________________________

Prof. Nicola R. Napolitano
Schoo

[2019-10-03 08:51] #26 closed, assigned to nobody

[2019-10-03 08:52] KiaraSpin commented on #11
KABS-Lens paper has been rejected.

Attached here the referee's response:

Dear Dr Napolitano,
Copied below are the comments on your manuscript entitled "KABS-GraL: The KABS strong Gravitational Lensing project", ref. MN-19-1678-MJ, which you submitted to Monthly Notices of the Royal Astronomical Society.
**The reviewer has recommended against publication in MNRAS. In view of this report, we sugge

[2019-10-03 08:55] #24 closed, assigned to nobody

[2019-10-03 08:57] KiaraSpin commented on #22
The INSPIRE (Investigating Stellar Population In RElics) has been approved as ESO Large Program. Observation will be carried on in P104, starting in November 2019. The first ~30 objects will be targeted for a total of 82hrs.

[2020-03-26 12:20] mariorpd13 opened #28 "KiDS DR4.1"
KiDS DR4.1 catalogs copied on thor: /data/KIDS_DR4/ESO-DR4.1-photometry-catalogues

[2020-03-27 12:31] mariorpd13 commented on #28
1. Summary of changes in DR4.1

There are 196 catalogs in DR4.1. Of these,
- 5 were NOT included in 4.0
- 7 are affected by the RA=0 issue and have differences in photometry for a fraction of sources
- 184 are affected by the NIR masking issue: there is no change in photometry, what changes is only the value of the MASK parameter for a fraction of sources (not more than 10-20%)

2. Comparison with